
html,body{
  	height:100%;
}

body{
  	
}


#main, #main>.row {
	height:100%;
    
}

#main>.row {
    overflow-y:scroll;

}

#left {
	height:100%;
    width:48%;
    left: 16px;
}

#map-canvas {
	width:50%;
    height: calc(100% - 30%);
    position:absolute;
    right:16px;
    top:70px;
    bottom:0;
    overflow:hidden;
}